html {
  font-family: Glacial Indifference, sans-serif;
}
#topbar{
  font-family: Glacial Indifference, sans-serif;
  height: 40px;
  align-items: center;
  justify-content:center;
  vertical-align: center;
  height:100%; width: 100%;
  position: fixed;
  display: flex;
  z-index:4;
  background-color: #F2EEE9; opacity: 50%;
}

h1 {
  size: 30px;
  padding-left: 10px;
}
